<nav>
  <ul>
    <li class="nav-link">
      <a href="{{site.baseurl}}/gimp.html">GIMP</a>
      <ul>
        <li class="nav-sub-link"><a href="">Proces secenja</a></li>
      </ul>
    </li>
    <li class="nav-link">
      <a href="{{site.baseurl}}">InkScape</a>
      <ul>
        <li class="nav-sub-link"><a href="">Velicina dokumenta</a></li>
        <li class="nav-sub-link"><a href="">Trace to bitmap</a></li>
        <li class="nav-sub-link"><a href="">Object to path</a></li>
        <li class="nav-sub-link"><a href="">Union/Difference</a></li>
        <li class="nav-sub-link"><a href="">Coloring</a></li>
        <li class="nav-sub-link">
          <a href="">Korisne precice</a>
          <ul>
            <li class="nav-sub-link"><a href="">Bucket</a></li>
            <li class="nav-sub-link"><a href="">Path</a></li>
            <li class="nav-sub-link"><a href="">Select</a></li>
            <li class="nav-sub-link"><a href="">Stroke</a></li>
            <li class="nav-sub-link"><a href="">Zoom</a></li>
            <li class="nav-sub-link"><a href="">Stroke</a></li>
          </ul>
        </li>
        <li class="nav-sub-link">
          <a href="">Configuring</a>
          <ul>
            <li class="nav-sub-link"><a href="">Starting point</a></li>
            <li class="nav-sub-link"><a href="">Orientation point</a></li>
            <li class="nav-sub-link"><a href="">Tools library</a></li>
            <li class="nav-sub-link"><a href="">Path to gcode</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-link"><a href="{{site.baseurl}}">Nacin rada</a></li>
    <li class="nav-link"><a href="{{site.baseurl}}">Kontakt</a></li>
  </ul>
</nav>
